<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h2 #title>Thêm Ghế</h2>
      <input type="text" class="form-control my-2" #tenGhe placeholder="Tên Ghế">
      <input type="text" class="form-control my-2" #soGhe placeholder="Số Ghế">
      <input type="text" class="form-control my-2" #gia placeholder="Giá">
      <input type="text" class="form-control my-2" #trangThai placeholder="Trạng Thái">
      <button class="btn btn-danger my-2" (click)="themGheParent(tenGhe.value, soGhe.value, gia.value, trangThai.value)">Thêm Ghế</button>
    </div>
  </div>
</div>
<app-danh-sach-ghe></app-danh-sach-ghe>