<div class="row">
  <div class="col-md-12 text-center mr-2" >
    <button [ngClass]="{'btn-success' : loaiTinTuc == 'DienAnh'}" class="btn" (click)="ChonLoaiTin('DienAnh')"  >Điện Ảnh</button>
    <button [ngClass]="{'btn-success': loaiTinTuc == 'ReView'}" class="btn" (click)="ChonLoaiTin('ReView')">Review</button>
    <button [ngClass]="{'btn-success': loaiTinTuc == 'KhuyenMai'}" class="btn" (click)="ChonLoaiTin('KhuyenMai')" >Khuyến Mãi</button>
  </div>
</div>

<div class="row" [ngSwitch]="loaiTinTuc" >
  <div *ngSwitchCase="'DienAnh'" class="col-md-12" >
    <app-dien-anh></app-dien-anh>
  </div>
  <div *ngSwitchCase="'ReView'" class="col-md-12">
    <app-re-view></app-re-view>
  </div>
  <div *ngSwitchCase="'KhuyenMai'" class="col-md-12">
    <app-khuyen-mai></app-khuyen-mai>
  </div>

</div>