<div class="owl-carousel owl-theme">
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>
  <div class="item">
    <app-item-phim></app-item-phim>
  </div>

</div>